/* some style */
body {
    font-family: 'Inria Sans';
    font-size: 16px;
}

.menu-logo {
    width: 250px;
    height: 50px;
    max-width: 80%;
}

.login-image-container {
    height: 100vh;
    width: 60vw;
    background-image: url("../login.jpg");
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-image-container h1 {
    font-family: 'Bellota';
}

.book-covers:hover {
    cursor: pointer;
}

.site-layout-content {
    min-height: 280px;
    background: #f0f2f5;
}

.layout {
    background-color: #f0f2f5;
}

.ant-table {
    background-color: #fff;
}

.inline-filter {
    width: 100%;
    margin-bottom: 0.2%;
    display: flex;
    align-content: space-evenly;
}

.filter-inputs .ant-form-item-label {
    height: 35px;
}

.filter-inputs .ant-form-item {
    margin-bottom: 0;
    width: 25%;
}

.book-metadatas .ant-input-disabled {
    background-color: #fff;
    cursor: default;
    color: #303030;
}

.review-section .ant-list-vertical .ant-list-item-meta-avatar {
    display: block;
}

.review-section .ant-list-vertical .ant-list-item-meta-title {
    margin-bottom: 0;
}

.review-section .ant-input-disabled {
    background-color: #fff;
    cursor: default;
    color: #303030;
}

.add-review-form .ant-form-item {
    margin-bottom: 0;
}
